.app-refresh {
    background: #9a719c;
	border-radius: 12px;
    height: 0;
    line-height: 3em;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 1em;
    transition: all .3s ease;
}
.app-refresh-wrap ,.app-refresh-wrap a{
	font-weight: bold;
    display: flex;
    color: aqua;
}
.app-refresh-wrap label {
    flex: 1;
}
.app-refresh-show {
    height: 3em;
}