//全局布局美化代码
body {
    //background-image:url(/images/background.jpg);
	//background-image:url(/images/body-bg.png);
	background-image: url(/images/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}