//全局布局美化代码
body {
    //background-image:url(/images/background.jpg);
	//background-image:url(/images/body-bg.png);
	background-image: url(/images/background5.png);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top center;
}