//普遍设置
body{
	cursor: url('/cursor/正常选择.cur'), auto;
}
p{
	cursor: url('/cursor/文本选择.cur'), auto;
}
a{
	cursor: url('/cursor/链接选择.cur'), auto;
}
button{
	cursor: url('/cursor/链接选择.cur'), auto !important;
}
//细微调整

//文章
.post-title{
	cursor: url('/cursor/文本选择.cur'), auto;
}
.post-meta-item-text{
	cursor: url('/cursor/文本选择.cur'), auto;
}

//代码
.code,.line{
	cursor: url('/cursor/文本选择.cur'), auto;
}
.copy-btn{
	cursor: url('/cursor/链接选择.cur'), auto;
}

//live2d
#waifu #waifu-tips{
	cursor: url('/cursor/文本选择.cur'), auto;
}
#waifu-tool span{
	cursor: url('/cursor/链接选择.cur'), auto !important;
}

//fancybox
.fancybox{
	cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/zoom-in.png"), zoom-out;
}
.fancybox-container .fancybox-stage {
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/zoom-out.png"), zoom-out;
}

.fancybox-button{
	cursor: url('/cursor/链接选择.cur'), auto !important;
}



//搜索
.search-input{
	cursor: url('/cursor/文本选择.cur'), auto;
}
.popup-btn-close,.search-result{
	cursor: url('/cursor/链接选择.cur'), auto !important;
}

//回到顶部按钮
.back-to-top{
	cursor: url('/cursor/链接选择.cur'), auto !important;
}