//普遍设置
body{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/正常选择.cur'), auto !important;
}
p{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
a{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto;
}
button{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}
//细微调整

.site-title{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}	

//文章
.post-title{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
.post-meta-item-text{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
h1,h2,h3,h4,h5{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
//代码
.code{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
.copy-btn{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto;
}

//live2d
#waifu #waifu-tips{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
#waifu-tool span{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}

//fancybox
.fancybox{
	cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/zoom-in.png"), zoom-out;
}
.fancybox-container .fancybox-stage {
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/zoom-out.png"), zoom-out;
}

.fancybox-button{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}



//搜索
.search-input{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
.popup-btn-close,.search-result{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}

//回到顶部按钮
.back-to-top{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}
//评论区
.vheader input,
#vedit{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/文本选择.cur'), auto;
}
a.vlogin-btn,
.vcol span,
.vcol a,
.vcol button{
	cursor: url('https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/cursor/链接选择.cur'), auto !important;
}