// 自制主题切换功能样式
body.dark-theme {
    background: #282c34
}
.darkmode-toggle {
  z-index: 1000;
}
// 功能按钮样式
/*
.theme_change {
    width: 160px;
    height: 37px;
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-size: 16px;
    background-color: #333333;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 3px solid red;
}
*/

//修改darkmode.js样式
.darkmode--activated {
  background: #000 !important;	/* 去除mix-blend-mode实现背景 */
}
/*主体 main-inner */
.darkmode--activated .main-inner{
  background: rgba(40,44,52,0.5);	/*区分阴影度*/
}
/* 文章块 post-block */
.darkmode--activated .post-block{
  opacity: 1;
  background: #282c34;				/*背景颜色*/
  color: #92fbfb;					/*文字颜色*/
}
/* 页脚 */
.darkmode--activated .footer{
  color: #92fbfb;					/*页脚颜色*/
}
/* 文章尾部上下文 */
.darkmode--activated .post-nav-item a{
  color: #92fbfb;					/*上下文颜色*/
  &:hover {
    color: #FFD700;					/* 移动至所显现颜色*/
  }
}

/* header上部的下部 */
.darkmode--activated .main-menu{
  background: #282c34;				/*header上部分颜色*/
  border-radius: 0 0 $myradius $myradius;	/*设置圆角*/
}
.darkmode--activated .menu-item a{
  &:hover {
	border-radius: $myradius;
    background: #382d2d;			/* 移动至所显现颜色*/
	color: aqua;
  }
}
.darkmode--activated a.menu-item-active{
	border-radius: $myradius;
    background: #382d2d;			/* 选中时显现颜色*/
}

/* 设置 brand 背景 */
.darkmode--activated .site-brand-container{
  background: url(https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/header-bg1.jpg);
  background-repeat: repeat;
  background-position: 70% 20%;
  background-size: cover;
}
/* 设置header下部 */
.darkmode--activated .sidebar-inner{
	background: #282c34;
}
.darkmode--activated .site-state-item a{
  &:hover {
	color: aqua;
  }
}
.darkmode--activated .links-of-author-item a{
  &:hover {
	background: #382d2d;
	color: aqua;
  }
}

/* 设置二级标题 */
.darkmode--activated  .sub-menu{
  background: #282c34;
}

/* 搜索页面背景颜色 */
.darkmode--activated  .search-header,
.darkmode--activated  .search-result-container{
  background: #282c34 !important;
}

/* 搜索页面字体颜色 */
.darkmode--activated  .search-input,
.darkmode--activated  .search-result-container,
.darkmode--activated  .search-result-list a{
  color: white;
}
/* 搜索页面鼠标划入变化 */
.darkmode--activated  .search-result-list a{
  border-bottom: 1px solid white;
  &:hover {
	color: aqua;
	border-bottom: 1px solid aqua;
  } 
}
/* live2d 文字颜色 */
.darkmode--activated  #waifu-tips{
  color: white;
}
.darkmode--activated  #waifu-tips span{
  color: purple;
}
/* 设置post-meta超链接 */
.darkmode--activated .post-meta-item a{
  color: #4169E1;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #FFD700;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.darkmode--activated  .comments{
  background: #282c34;
}
.darkmode--activated  a.vlogin-btn,
.darkmode--activated  .vnick,
.darkmode--activated  .vmail,
.darkmode--activated  .vlink,
.darkmode--activated  .vmail,
.darkmode--activated  .veditor,
.darkmode--activated  .vinput p,
.darkmode--activated  .vinput h1,
.darkmode--activated  .vinput h2,
.darkmode--activated  .vinput h3{
	color: #92fbfb !important;
}
.darkmode--activated  a.vlogin-btn{
  &:hover {
    color: #FFD700 !important;
  }
}