@font-face {
    font-family: 'Comic Sans MS';
    //src: url('/fonts/Comic Sans MS.ttf');
	src: url('https://cdn.jsdelivr.net/gh/WillCAI2020/blog/source/fonts/Comic Sans MS.ttf');
}

/* post-引用与 note 字体 */
blockquote p,
.post-body .note {
  font-family: $font-family-quote;
  font-weight: bold;
  font-size: 1.05em;
}

/* post-标签选择卡片加粗 */
.post-body .tabs ul.nav-tabs li.tab a {
  font-weight: bold;
}

/* post-正文字号 */
.post-body {
  font-size: 1em;
}
