/* post-文章卡片圆角 */
.post,
.post-block,
.post-block+.post-block{
  border-radius: $myradius !important;
}

/*主页文章添加阴影效果*/
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(250, 128, 114, 1.5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

/* post块 */
.post-block{
	opacity: 0.95;
    margin-bottom: 24px;
    padding: 36px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}

// 标题
.post-title {
    color: black;
    letter-spacing: 12px;
    font-family: Comic Sans MS;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}