/* sidebar-二级菜单圆角 */
.sub-menu {
  border-radius: $myradius !important;
}

/* sidebar-标题背景 */
.site-brand-container {
  background: url(/images/header-bg2.jpg);
  background-position: 70% 20%;
  background-size: cover;
  
  +mobile() {
	background: url(/images/header-bg1.jpg);
  }
}

/* sidebar-标题 */
.site-title {
  color: #91ffa7;
  font-family: Comic Sans MS;
  font-weight: bold;
}

/* sidebar-副标题 */
.site-subtitle {
  font-weight: bold;
  font-family: "EB Garamond", STKaiti, KaiTi, SimKai, DFKai-SB, "Noto Serif SC";
  color: #edf8f9;
  font-size: 1.2em;
}

/* sidebar-站点描述介绍 */
.site-description {
  color: var(--blockquote-color);
}