/* sidebar-二级菜单圆角 */
.sub-menu {
  border-radius: $myradius !important;
}

/* sidebar-标题背景 */
.site-brand-container {
  background: url(https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/header-bg2.jpg);
  background-position: 70% 20%;
  background-size: cover;
  
  +mobile() {
	background: url(https://cdn.jsdelivr.net/gh/WillCAI2020/cdn/images/header-bg1.jpg);
  }
}

/* sidebar-标题 */
.site-title {
  color: #91ffa7;
  font-family: Comic Sans MS;
  font-weight: bold;
}

/* sidebar-副标题 */
.site-subtitle {
  font-weight: bold;
  font-family: "EB Garamond", STKaiti, KaiTi, SimKai, DFKai-SB, "Noto Serif SC";
  color: #edf8f9;
  font-size: 1.2em;
}

/* sidebar-站点描述介绍 */
.site-description {
  color: var(--blockquote-color);
}

/* 取消头像边框 */
.site-author-image{
  border: 0 !important;
}

// 粒子时钟样式
.site-overview {
  text-align: center;
}

canvas#canvas {
  margin-top: 20px;
}