{# Jquery #}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

{# 每日诗词 #}
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<text class="poem_sentence"></text>
<text class="poem_info"></text>
<script type="text/javascript">
  jinrishici.load(function(result) {
    var sentence = document.querySelector(".poem_sentence")
    var info = document.querySelector(".poem_info")
    sentence.innerHTML = result.data.content
    info.innerHTML = '——' + result.data.origin.author
  });
</script>

{# 看板娘 #}
<script src="/lib/live2d-widget/autoload.js"></script>

{# 折叠 #}
<script type="text/javascript" src="/js/fold_action.js"></script>

{# 利用gifplayer(https://github.com/rubentd/gifplayer)实现GIF暂停 #}
<script src="/js/jquery.gifplayer.js"></script>
<script>
	$('.gifplayer').gifplayer();
</script>

{# 类知乎卡片 #}
<script type="text/javascript" src="/js/LinkCard.js"></script>

{# 分割线美化 #}
<link type='text/css' rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" media='all'/>