{# Jquery #}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

{# 每日诗词 #}
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<text class="poem_sentence"></text>
<text class="poem_info"></text>
<script type="text/javascript">
  jinrishici.load(function(result) {
    var sentence = document.querySelector(".poem_sentence")
    var info = document.querySelector(".poem_info")
    sentence.innerHTML = result.data.content
    info.innerHTML = '——' + result.data.origin.author
  });
</script>

{# 看板娘 #}
<script src="/lib/live2d-widget/autoload.js"></script>

{# 折叠 #}
<script type="text/javascript" src="/js/fold_action.js"></script>

{# 利用gifplayer(https://github.com/rubentd/gifplayer)实现GIF暂停 #}
<script src="/js/jquery.gifplayer.js"></script>
<script>
	$('.gifplayer').gifplayer();
</script>

{# 类知乎卡片 #}
<script type="text/javascript" src="/js/LinkCard.js"></script>

{# 分割线美化 #}
<link type='text/css' rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" media='all'/>
<style>
/* 美化 hr 样式 */
	hr {
		position: relative;
		margin: 2rem auto;
		width: calc(100% - 4px);
		border: 2px dashed #a4d8fa;
		background: #fff;
	}

	hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
	}

	hr:before {
		position: absolute;
		top: -10px;
		left: 5%;
		z-index: 1;
		color: #49b1f5;
		content: '\f0c4';
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 20px;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}

	hr:hover::before{
		left: 95%;
	}
</style>