<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-189366922-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-189366922-1');
</script>

{# 引入manifest 关键实现pwa #}
<link rel="manifest" href="/manifest.json">

{# title、keywords、desc关键字	优化SEO #}
{% if page.title %}
  <title>{{ page.title }}</title>
  <meta name="title" content="{{ page.title }}" />
{% endif %}
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
{% elif page.tags and page.tags.length %}
  <meta name="keywords" content="{% for tag in page.tags %}{{ tag.name }},{% endfor %}" />
{% elif theme.keywords %}
  <meta name="keywords" content="{{ theme.keywords }}" />
{% endif %}
{% if page.desc %}
  <meta name="description" content="{{ page.desc }}" />
{% endif %}