/*footer元素置底*/
.main{
	min-height: 86%;
}

/* 顶部空白&左外边距加大 */
.main-inner {
  margin-top: 10px;
  margin-left: 36px;

  +mobile() {
    margin-top: 0;
  }
}

/* post块 */
.post-block{
	opacity: 0.95;
    margin-bottom: 24px;
    padding: 36px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}


