{# 文章置顶设置 #}
{% if post.top %}
	<div>
    <span class="post-meta-divider">&nbsp;|&nbsp;</span>
    <i class="fa fa-bell"></i>
    <font color=7D26CD>&nbsp;置顶&nbsp;</font>
    <span class="post-meta-divider"> &nbsp;|&nbsp; </span>
	</div>
{% endif %}