{# 相关文章 begin #}
{%- if theme.related_posts_new.enable and (theme.related_posts.display_in_home or not is_index) %}
{%- set popular_posts = popular_posts_json(theme.related_posts.params, page) %}
{%- if popular_posts.json and popular_posts.json.length > 0 %}
  <div class="related-posts">
  <div class="popular-posts-header">
  {{ theme.related_posts.title or __('post.related_posts') }}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon related-icon"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6.0-12-5.4-12-12v-92h-92c-6.6.0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6.0 12 5.4 12 12v92h92c6.6.0 12 5.4 12 12v56z"></path></svg>  
  </div>
  <ul class="related-list">
  {%- for popular_post in popular_posts.json %}
    <li class="related-item">
      <a href="{{ popular_post.path }}" class="related-link" rel="bookmark">{{ popular_post.title }}</a>
    </li>
  {%- endfor %}
  </ul>
  </div>
{%- endif %}
{%- endif %}
{# 相关文章 end #}

{#####################}
{### POST END ITEM ###}
{#####################}
<span style="margin-top:30px; color:var(--blockquote-color); font-size:0.85em">
    {%- if post.update %}
        <span class="post-end-item" title="update">
            {%- set create_title = __('post.update') + __('symbol.colon') + full_date(post.date) %}
            <span class="post-end-item-icon" style="margin-right: 3px"><i class="far fa-fw fa-calendar-check"></i></span>
            <time title="{{ '更新时间' + __('symbol.colon') + full_date(post.update) }}" itemprop="dateModified" datetime="{{ moment(post.update).format() }}">
                <span class="post-end-item-text">更新时间：{{ date(post.update) }}</span>
            </time>
        </span>
    {%- endif %}
    {%- if post.copyright !== false %}
        <br>
        <span class="post-end-item" title="copyright"">
            <span class="post-end-item-icon" style="margin-right: 3px">
                <i class="fab fa-fw fa-creative-commons"></i>
            </span>
            <span class="post-end-item-text">采用署名-非商业性使用-相同方式共享 4.0（CC BY-NC-SA 4.0）许可协议</span>
        </span>
    {%- endif %}
</span>