{# 文章置顶设置 #}
{% if post.top %}
	<div id="post_top">
    <span class="post-meta-divider">&nbsp;&nbsp;|&nbsp;</span>
    <i class="fab fa-free-code-camp"></i>
    <font class=post-meta-item-text>&nbsp;置顶&nbsp;</font>
    <span class="post-meta-divider"> | </span>
	</div>
{% endif %}