/*布局设定*/
@import "custom/layout";

/*文字背景色块*/
@import "custom/background_color_block";

/*页面背景*/
@import "custom/background";

/*彩色标签*/
@import "custom/tags";

/*按钮*/
@import "custom/button";

/*按钮*/
@import "custom/fonts";