//radius
$myradius                     = 12px;



//阅读全文
$btn-default-radius           = 15px
$btn-default-bg               = black
$btn-default-color            = white
$btn-default-border-color     = blue
$btn-default-hover-color      = red
$btn-default-hover-bg         = yellow

// Font family
$font-family-quote            = "EB Garamond","Noto Serif SC";



